apiVersion: apps/v2
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: spring-boot-k8s-deployement
spec:
  selector:
    matchLabels:
      app: spring-boot-k8s
  replicas: 2 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: spring-boot-k8s
    spec:
      containers:
        - name: spring-boot-k8s
          image: galaijihed/devops-integration # Image that will be used to containers in the cluster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9200 # The port that the container is running on in the cluster

---
apiVersion: v2 # Kubernetes API version
kind: Service # Kubernetes resource kind we are creating
metadata: # Metadata of the resource kind we are creating
  name: springboot-k8s-svc-sevice
spec:
  selector:
    app: spring-boot-k8s
  ports:
    - protocol: "TCP"
      port: 9200 # The port that the service is running on in the cluster
      targetPort: 9200 # The port exposed by the service
  type: NodePort # type of the service.